html {
    font-size: 14px;
    background-image: linear-gradient(180deg, #f1d6d2 0%, #644139 150%);
    height: 100%;
}

body {
    display: grid;
    justify-items: center;

}

.border {
    background-color: rgb(53, 45, 45);
    border-radius: 20px;
    margin: 4em;
    box-shadow: 0 0 20px 5px rgba(48, 48, 48, 0.836);
    box-shadow: 0 0 5px 5px rgba(48, 48, 48, 0.836);
}

.outer {
    height: 600px;
    width: 400px;
    display: grid;
    margin: 1.2rem;
    grid-template-rows: 30% 70%;
}

.display {
    background-color: rgb(61, 61, 61);
    border: 2rem solid rgb(32, 30, 30);
    color:rgb(177, 177, 177);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    padding: 4px;
    display: grid;
}

.display-upper {
    display: flex;
    justify-content: right;
    flex: 1 0 auto;
}

.display-lower {
    font-size: 4rem;
    display: flex;
    justify-content: right;
    flex: 1 0 auto;
}

.buttons-container {
    background-color: rgb(67, 54, 51);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.outer-clear-button-container {
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    justify-content: space-around;
}

.outer-number-buttons-container {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.outer-operation-buttons-container {
    grid-row-start: 2;
    grid-row-end: 6;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    justify-self: center;
    color: rgb(97, 77, 73);
    padding-left: 10px;
    font-family: cursive;
    font-size: 2.15rem;
}

.clear-button-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.number-buttons-container, .equals-button-container {
    height: 25%;
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.operation-buttons-container {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 1.5rem;
    height: 5rem;
    width: 86px;
    color: rgb(39, 31, 29);
    font-size: 2.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.651);
    cursor: pointer;
    transition: all .03s;
}

.number-buttons, .equals-button {
    background-color: rgb(199, 186, 173);
}

.operation-buttons {
    background-color: rgb(138, 126, 121);
}

.clear-button {
    background-color: rgb(247, 240, 245);
    height: 5rem;
    width: 187px;
    margin: 7px;
}

.clicking {
    transform: scale(.99) translateY(1.5px);
}