html {
    font-size: 10px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  }

#buttons {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.btn {
    border: .4rem solid rgba(0, 0, 0, 0.836);
    border-radius: 50%;
    margin: 3rem;
    padding: 1rem .5rem;
    transition: all .07s;
    width: 16rem;
    height: 14rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

button {
    border: none;
    margin: none;
    padding: none;
    background-color:rgba(255, 255, 255, 0);
}

#rock {
    background-image: url("/imgs/rock.png");
    background-size: cover;
}

#paper {
    background-image: url("/imgs/paper.png");
    background-size: cover;
}

#scissors {
    background-image: url("/imgs/scissors.png");
    background-size: cover;
}