.outer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clear-button {
    padding: 1rem;
    border: 2px solid black;
    margin: 10px;
}

.grid-container {
    width: 600px;
    height: 600px;
    background-color: red;
    display: grid;
    grid-template-columns: repeat(16, auto); /* automate later */
    grid-template-rows: repeat(16, auto); /* automate later */
}

.squares-default {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(240, 240, 240);
}

.squares-hover {
    background-color: rgb(32, 32, 32);
    border: 1px solid rgb(32, 32, 32);
}