html {
    font-size: 14px;
    background-image: linear-gradient(180deg, #ffb2ad 0%, #b94747 150%);
    height: 100%;
  }

.outer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clear-button {
    padding: .5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border: 2px solid rgb(78, 0, 0);
    background-color: rgb(151, 0, 4);
    color: rgb(219, 199, 90);
    margin: 20px;
    font-family: cursive;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
}

.border {
    background-color: rgb(151, 0, 4);
    border: 2px solid rgb(78, 0, 0);
    border-radius: 5%;
    padding: 50px
}

.grid-container {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(16, auto); /* automate later */
    grid-template-rows: repeat(16, auto); /* automate later */
}

.squares-default {
    background-color: rgb(240, 240, 240);
}

.squares-hover {
    background-color: rgb(32, 32, 32);
}