html {
    font-size: 14px;
    background-image: linear-gradient(180deg, #ffb2ad 0%, #b94747 150%);
    height: 100%;
  }

.outer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clear-button {
    padding: .5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border: 2px solid rgb(78, 0, 0);
    background-color: rgb(151, 0, 4);
    color: rgb(219, 199, 90);
    margin: 20px;
    font-family: cursive;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    transition: all .02s;
    box-shadow: 0 5px 10px black;
}

.clicking {
    transform: scale(.98);
}

.border {
    background-color: rgb(151, 0, 4);
    border: 2px solid rgb(78, 0, 0);
    border-radius: 5%;
    padding: 50px;
    box-shadow: 0 0 20px;
}

.grid-container {
    width: 600px;
    height: 600px;
    display: grid;
    box-shadow: 0 0 0 2px rgba(48, 48, 48, 0.5);
}

.squares-default {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(240, 240, 240);
}

.squares-hover {
    background-color: rgb(32, 32, 32);
    border: 1px solid rgb(32, 32, 32);
}